
body{
    background-color: white;
    background-repeat: repeat;
    text-align:center;


}
h1{
    text-align: center;
        font-family: 'Playfair Display', serif;
    color: darkgray;
}
    h3{
        text-align: left;
        font-family: 'Dancing Script', cursive;
        color: red;
    
    }   
     p{ 
        color: rgb(149, 10, 192);
        font-family:'Tangerine', cursive;
        text-align: left;
        
    }

div{
    margin-left: 24px;
    
}



















































































